API_SECRET_KEY=Sua_Chave_Cors_escreva_qualquer_coisa_aqui

☝️ // no frondend, tem que ser a mesma chave do backend, para o cors funcionar

SUPABASE_KEY=Sua_Chave_Supabase_aqui
SUPABASE_URL=Sua_URL_Supabase_aqui